

body {
    background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway';
}

Header {
    height: 8rem;
    width:100%;
    background-color: white;
    position: sticky;
    opacity: 80%;
    color: grey;
}

h1 {

    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

section {
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 10rem;
    color: grey;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
}

.item {
    width: 25%;
    height: auto;
    overflow: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    width: 100%;
    height: 10rem;
    background-color: white;
    opacity: 80%;
    overflow: hidden;
    color: black;
   
}
.pic {
    height: auto;
    width: 100%;
    background-color: transparent;

}

img {
    width: 100%;
    background-color: transparent;
    
}

